/.ddev/docker-compose.yaml
/bin
/public/fileadmin/_processed_/*
/public/fileadmin/form_definitions/*
/public/fileadmin/user_upload/*
/public/index.php
/public/typo3
/public/typo3conf/.gitignore
/public/typo3conf/ENABLE_INSTALL_TOOL
/public/typo3conf/realurl_autoconf.php
/public/typo3conf/l10n
/public/typo3conf/ext/headless
/public/typo3conf/ext/headless_news
/public/typo3conf/ext/news
/public/typo3temp
/public/uploads
/var
/vendor
/.env
/.idea
Tests/Acceptance/Support/_generated/
front/*
!front/recommended.json
!front/kill_node_server.sh
